.box {
    background-color: lightblue;
    padding: 15px;
}

ul {
    list-style: none;
}

.boxDown {
    border: 5mm solid rgba(248, 248, 60, 0.807);
    padding-left: 5px;

}

.text {
    justify-content: center;
}



